openapi: 3.1.0
info:
  title: Zima Blue API
  description: |
    API for the Zima Blue illustration gallery.
    Used by the web frontend and mobile/desktop apps.

    Authentication:
    - Web: session cookie (nuxt-auth-utils)
    - Apps: Bearer token via /api/api-tokens
  version: 0.85.10
  contact:
    name: Zima Blue
servers:
  - url: https://zimablue.com
    description: Production
  - url: http://localhost:3001
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API token
      description: |
        Create a token via POST /api/api-tokens (requires session auth),
        then use it as Bearer token in the Authorization header.

  schemas:
    Pagination:
      type: object
      required: [total, limit, offset, hasMore]
      properties:
        total:  { type: integer, description: "Total number of items" }
        limit:  { type: integer, description: "Items per page" }
        offset: { type: integer, description: "Offset for pagination" }
        hasMore: { type: boolean, description: "Whether more pages exist" }

    Image:
      type: object
      properties:
        id:            { type: integer }
        name:          { type: string }
        description:   { type: string }
        slug:          { type: string }
        pathname:      { type: string }
        variants:      { type: string, description: "JSON string of variant objects" }
        w:             { type: integer, description: "Grid width" }
        h:             { type: integer, description: "Grid height" }
        x:             { type: integer, description: "Grid X position" }
        y:             { type: integer, description: "Grid Y position" }
        stats_views:    { type: integer }
        stats_downloads: { type: integer }
        stats_likes:    { type: integer }
        user_id:       { type: integer }
        aspect_label:  { type: string }
        aspect_group_id: { type: integer, nullable: true }
        tags:          { type: array, items: { $ref: '#/components/schemas/Tag' } }
        created_at:    { type: string, format: date-time }
        updated_at:    { type: string, format: date-time }

    Tag:
      type: object
      properties:
        id:          { type: integer }
        name:        { type: string }
        slug:        { type: string }
        description: { type: string }
        color:       { type: string }
        usage_count: { type: integer }
        created_at:  { type: string, format: date-time }
        updated_at:  { type: string, format: date-time }

    Collection:
      type: object
      properties:
        id:            { type: integer }
        name:          { type: string }
        slug:          { type: string }
        description:   { type: string }
        is_public:     { type: boolean }
        cover_image_id: { type: integer, nullable: true }
        cover_image:   { $ref: '#/components/schemas/DbImageSimple' }
        preview_images: { type: array, items: { $ref: '#/components/schemas/DbImageSimple' } }
        image_count:   { type: integer }
        is_owner:      { type: boolean }
        stats_views:   { type: integer }
        stats_likes:   { type: integer }
        owner_id:      { type: integer }
        owner_name:    { type: string }
        owner:         { type: object, properties: { id: { type: integer }, name: { type: string } } }
        created_at:    { type: string, format: date-time }
        updated_at:    { type: string, format: date-time }

    DbImageSimple:
      type: object
      properties:
        id:       { type: integer }
        name:     { type: string }
        pathname: { type: string }
        w:        { type: integer }
        h:        { type: integer }

    User:
      type: object
      properties:
        id:         { type: integer }
        name:       { type: string }
        email:      { type: string, format: email }
        role:       { type: string, enum: [user, admin] }
        biography:  { type: string }
        job:        { type: string }
        language:   { type: string }
        location:   { type: string }
        socials:    { type: string }
        createdAt:  { type: string, format: date-time }
        updatedAt:  { type: string, format: date-time }

    ApiToken:
      type: object
      properties:
        id:          { type: integer }
        name:        { type: string }
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at:  { type: string, format: date-time, nullable: true }
        revoked:     { type: boolean }
        created_at:  { type: string, format: date-time }

    ApiTokenWithSecret:
      allOf:
        - $ref: '#/components/schemas/ApiToken'
        - properties:
            token: { type: string, description: "Raw token (only shown once on creation)" }
          required: [token]

    Message:
      type: object
      properties:
        id:           { type: integer }
        sender_email: { type: string, format: email }
        subject:      { type: string }
        message:      { type: string }
        created_at:   { type: string, format: date-time }

    Error:
      type: object
      properties:
        success: { type: boolean, enum: [false] }
        error:
          type: object
          properties:
            message: { type: string }
            status:  { type: integer }
            code:    { type: string }

    SearchData:
      type: object
      properties:
        images: { type: array, items: { $ref: '#/components/schemas/Image' } }
        collections: { type: array, items: { $ref: '#/components/schemas/Collection' } }
        total:
          type: object
          properties:
            images:      { type: integer }
            collections: { type: integer }

    TokenCreateInput:
      type: object
      required: [name]
      properties:
        name:          { type: string, maxLength: 100 }
        expiresInDays: { type: integer, minimum: 1, maximum: 365 }

    ContactInput:
      type: object
      required: [email, subject, message]
      properties:
        email:   { type: string, format: email }
        subject: { type: string, minLength: 1 }
        message: { type: string, minLength: 1 }

    LoginInput:
      type: object
      required: [email, password]
      properties:
        email:    { type: string, format: email }
        password: { type: string, minLength: 8 }

paths:
  # ─── Images ──────────────────────────────────────
  /api/images:
    get:
      summary: List images
      description: |
        Returns images with optional pagination.
        Without ?limit= returns all images (legacy, raw array).
        With ?limit= returns normalized paginated response.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
          description: Number of images per page
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
          description: Number of images to skip
        - name: fields
          in: query
          schema: { type: string }
          description: Comma-separated list of fields to include (e.g. "id,name,slug")
          example: id,name,slug,tags.id,tags.name
      responses:
        '200':
          description: Paginated list of images
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { type: array, items: { $ref: '#/components/schemas/Image' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

  /api/images/slug/{slug}:
    get:
      summary: Get a single image by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Image details with aspect variants
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Image'
                  - properties:
                      aspect_variants:
                        type: array
                        items: { $ref: '#/components/schemas/Image' }

  /api/images/slug/{slug}/views:
    put:
      summary: Increment image view count
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated image with incremented stats_views

  /api/images/slug/{slug}/downloads:
    put:
      summary: Increment image download count
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated image with incremented stats_downloads

  # ─── Tags ──────────────────────────────────────
  /api/tags:
    get:
      summary: List tags
      parameters:
        - name: query
          in: query
          schema: { type: string }
          description: Search term for tag name/description
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
        - name: sort_by
          in: query
          schema: { type: string, enum: [name, usage_count, created_at] }
        - name: sort_order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: Paginated tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { type: array, items: { $ref: '#/components/schemas/Tag' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

  # ─── Collections ──────────────────────────────
  /api/collections:
    get:
      summary: List collections
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
        - name: includePrivate
          in: query
          schema: { type: boolean }
          description: Include private collections (requires auth)
      responses:
        '200':
          description: Paginated collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { type: array, items: { $ref: '#/components/schemas/Collection' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }

  /api/collections/{slug}:
    get:
      summary: Get a single collection with its images
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Collection details and images
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  collection: { $ref: '#/components/schemas/Collection' }
                  images: { type: array, items: { $ref: '#/components/schemas/Image' } }

  # ─── Search ─────────────────────────────────────
  /api/search:
    get:
      summary: Search images and collections
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, maximum: 50 }
        - name: images
          in: query
          schema: { type: boolean }
        - name: collections
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { $ref: '#/components/schemas/SearchData' }

  # ─── Grid ───────────────────────────────────────
  /api/grid:
    get:
      summary: Get all images with grid positions
      description: Used by the draggable home grid. No pagination.
      responses:
        '200':
          description: All images with grid layout data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { type: array, items: { $ref: '#/components/schemas/Image' } }

  # ─── Auth ────────────────────────────────────────
  /api/login:
    post:
      summary: Sign in
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginInput' }
      responses:
        '200':
          description: Login successful, session cookie set
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data:
                    type: object
                    properties:
                      user: { $ref: '#/components/schemas/User' }
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/register:
    post:
      summary: Create account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:     { type: string, minLength: 2, maxLength: 50 }
                email:    { type: string, format: email }
                password: { type: string, minLength: 8 }
                biography: { type: string }
                job:      { type: string }
                language: { type: string }
                location: { type: string }
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id: { type: integer }
                          name: { type: string }
                          email: { type: string }
                          role: { type: string }
                          createdAt: { type: string, format: date-time }

  # ─── API Tokens ───────────────────────────────
  /api/api-tokens:
    get:
      summary: List user's API tokens
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of tokens (without secret)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { type: array, items: { $ref: '#/components/schemas/ApiToken' } }
    post:
      summary: Create an API token
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TokenCreateInput' }
      responses:
        '201':
          description: Token created (secret shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  data: { $ref: '#/components/schemas/ApiTokenWithSecret' }

  /api/api-tokens/{id}:
    delete:
      summary: Revoke an API token
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Token revoked

  # ─── Contact ──────────────────────────────────────
  /api/messages:
    post:
      summary: Send a contact message
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactInput' }
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      id: { type: integer }
                      createdAt: { type: string, format: date-time }

  /api/contact/submit:
    post:
      summary: Send a contact message (alternative endpoint)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactInput' }
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, enum: [true] }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      id: { type: integer }
